.tsw-quiz {
  --tsw-font-display: "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --quiz-text-color: var(--color-brand-grayscale-600);
  --quiz-highlight-color: var(--color-brand-primary-400);
  --quiz-background-color: var(--color-brand-grayscale-white);

  color: var(--quiz-text-color);
  background-color: var(--quiz-background-color);
}

/* .tsw-quiz.dark-theme {
  --quiz-text-color: var(--color-brand-grayscale-white);
  --quiz-background-color: var(--color-brand-grayscale-900);
} */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* UI elements */

.tsw-quiz button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-primary-400);
  /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5); */
}
.tsw-quiz button:disabled {
  cursor: inherit;
  background-color: var(--color-brand-grayscale-500);
}

/* Quiz checklist styles */

.tsw-quiz {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

.tsw-quiz h2 {
  color: var(--quiz-highlight-color);
  margin-bottom: 20px;
  line-height: 30px;
}
.tsw-quiz p {
  line-height: 22px;
}

.tsw-quiz-checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  flex: 0 0 280px;
  border-right: 1px solid var(--color-brand-grayscale-400);
}
.tsw-quiz-checklist li {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.tsw-quiz-checklist li.active {
  color: var(--quiz-highlight-color);
}

.tsw-quiz-checklist li svg {
  width: 24px;
  height: 24px;
}
.tsw-quiz-checklist .tsw-radio-checked {
  display: none;
}
.tsw-quiz-checklist li.active .tsw-radio-checked {
  display: block;
}
.tsw-quiz-checklist li.active .tsw-radio-unchecked {
  display: none;
}

/* Quiz main content styles */

.tsw-quiz-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
}

.tsw-quiz-panel {
  display: none;
}
.tsw-quiz-panel.active {
  display: block;
}

/* Quiz choice button styles */

.tsw-quiz-choice-buttons {
  display: flex;
  gap: 10px;
  margin: 30px auto 0;
}
.tsw-quiz-choice-buttons label {
  padding: 10px 15px;
  border: 1px solid var(--color-brand-grayscale-900);
  border-radius: 50px;
  height: fit-content;
  line-height: normal;
  cursor: pointer;
}
.tsw-quiz-choice-buttons input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.tsw-quiz-choice-buttons input:checked + label {
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-grayscale-900);
  border: 1px solid var(--color-brand-grayscale-900);
}
.tsw-quiz-choice-buttons input:checked + label::before {
  content: "\2713 "; /* Unicode checkmark symbol */
  padding-right: 10px;
}

/* Quiz stepper button styles */

.tsw-quiz-stepper-buttons {
  display: flex;
  justify-content: space-between;
}

/* Quiz svg icon styles */

.tsw-quiz-svg-icons {
  display: none;
}
#tsw-radio-checked-svg {
  fill: var(--quiz-highlight-color);
}
#tsw-radio-unchecked-svg {
  fill: var(--quiz-text-color);
}
