/* Variables */

.tsw-container {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-100: #ffcee7;
  --color-brand-primary-200: #ff52a3;
  --color-brand-primary-300: #f6288f;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-500: #a7005a;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-100: #fbfbfb;
  --color-brand-grayscale-200: #f5f5f5;
  --color-brand-grayscale-300: #e6e6e6;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
  --color-outer-glow: 0px 0px 2px rgba(167, 0, 90, 0.8);

  font-family: var(--tsw-font-main);

  --tsw-usa-map-dropdown-padding: 2rem;
  --tsw-usa-map-dropdown-border: 1px solid var(--color-brand-grayscale-600);
  --tsw-usa-map-dropdown-border-radius: 0.4rem;
  --tsw-usa-map-tooltip-border-radius: 0.5rem;
}

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #f5f5f5;
}

/* Reset */

h1,
h2,
p {
  margin: 0;
  line-height: normal;
}

h1 {
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
}

h3 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.7rem;
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  p {
    font-size: 2rem;
    line-height: 1.9rem;
  }
}

.bold {
  font-weight: 700;
}

.red {
  color: var(--color-trend-red);
}
.green {
  color: var(--color-trend-green);
}

a,
a:visited {
  color: var(--tsw-usa-map-link-color);
}

ul {
  list-style-type: none;
}

/* UI elements */

.magenta-button {
  cursor: pointer;
  align-self: flex-start;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  /* font-weight: 600; */
  border: 0;
  border-radius: 0.5rem;
  color: var(--tsw-usa-map-button-text-color);
  background-color: var(--tsw-usa-map-button-color);
}

/* =-=-=-=-=-=-=-=- */
/* Container styles */
/* =-=-=-=-=-=-=-=- */

.tsw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 2.5rem 1.5rem;
  max-width: 100rem;
  min-height: 80rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .tsw-container {
    padding: 3rem;
  }
}

/* =-=-=-=-=-=-= */
/* Header styles */
/* =-=-=-=-=-=-= */

.tsw-header {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/* =-=-=-=-=- */
/* Map styles */
/* =-=-=-=-=- */

.tsw-map-usa-container {
  width: 100%;
  height: auto;
  position: relative;
}

.tsw-map-usa-container svg rect,
.tsw-map-usa-container svg text {
  display: none;
}
@media (min-width: 768px) {
  .tsw-map-usa-container svg rect,
  .tsw-map-usa-container svg text {
    display: block;
  }
}

.tsw-map-usa-container svg path,
.tsw-map-usa-container svg rect:not(.svg-bounding-box) {
  cursor: pointer;
  fill: var(--color-brand-primary-400);
  transition: 0.25s;
}
.tsw-map-usa-container svg path.highlight,
.tsw-map-usa-container svg rect.highlight {
  fill: var(--color-brand-primary-500) !important;
  filter: drop-shadow(var(--color-outer-glow));
}

.tsw-map-usa-container svg text {
  pointer-events: none;
  user-select: none;
  fill: var(--color-brand-grayscale-white);
}

/* =-=-=-=-=-=-=-= */
/* Dropdown styles */
/* =-=-=-=-=-=-=-= */

.tsw-dropdown-container {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  text-align: left;
}
@media (min-width: 768px) {
  .tsw-dropdown-container {
    display: none;
  }
}

.tsw-dropdown {
  position: relative;
  width: 100%;
}
.tsw-dropdown select {
  width: 100%;
  font-size: 1.7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: var(--tsw-usa-map-dropdown-padding);
  border: var(--tsw-usa-map-dropdown-border);
  border-radius: var(--tsw-usa-map-dropdown-border-radius);
  outline-offset: 4px;
  /* outline-color: var(--color-brand-primary-400); */
}
#tsw-dropdown-select-label {
  display: none;
}
.tsw-dropdown-arrow {
  position: absolute;
  right: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsw-dropdown-data {
  width: 100%;
  padding: var(--tsw-usa-map-dropdown-padding);
  border: var(--tsw-usa-map-dropdown-border);
  border-radius: var(--tsw-usa-map-dropdown-border-radius);
  /* color: var(--color-brand-grayscale-600); */
  background-color: var(--color-brand-grayscale-white);
}
.tsw-dropdown-data p:not(:first-child) {
  padding-top: calc(var(--tsw-usa-map-dropdown-padding) * 0.9);
}
.tsw-dropdown-data p:not(:last-child) {
  padding-bottom: calc(var(--tsw-usa-map-dropdown-padding) * 0.9);
  border-bottom: 1px solid var(--color-brand-grayscale-400);
}
.tsw-dropdown-data-header {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-brand-grayscale-900);
}

.tsw-map-usa-svg-icons {
  display: none;
}

/* =-=-=-= */
/* Tooltip */
/* =-=-=-= */

.tsw-tooltip {
  text-align: left;
  position: absolute;
  padding: 1rem 2.7rem 1rem 1rem;
  border: 1px solid var(--color-brand-grayscale-700);
  border-radius: var(--tsw-usa-map-tooltip-border-radius);
  background-color: var(--color-brand-grayscale-white);
  transition: opacity 0.5s;
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, 0);
  opacity: 0;
  box-shadow: var(--color-input-shadow);
}
.tsw-tooltip.active {
  opacity: 1;
}
/* Make tooltip interact-able when clicked */
.tsw-tooltip.clicked {
  pointer-events: initial;
  user-select: initial;
}
.tsw-tooltip.is-rect {
  margin-top: 1rem;
}
/* Pointer 'triangle' at top of tooltip  */
.tsw-tooltip::before {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: -0.7rem;
  left: 50%;
  translate: -50% 0;
  background: inherit;
  box-shadow: inherit;
  clip-path: inset(-15px 2px 2px -15px);
  border-top: 1px solid var(--color-brand-grayscale-700);
  border-left: 1px solid var(--color-brand-grayscale-700);
  rotate: 45deg;
}

.tsw-tooltip p {
  font-size: 1.3rem;
  white-space: nowrap;
}
.tsw-tooltip p.tsw-tooltip-state {
  font-size: 1.7rem;
  font-weight: 600;
}

.tsw-tooltip span.tsw-tooltip-numbers {
  font-size: 1.5rem;
  font-weight: 600;
}

.tsw-tooltip-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Tooltip close button  */
.tsw-tooltip-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: inherit;
  border-radius: var(--tsw-usa-map-tooltip-border-radius);
  cursor: pointer;
}
.tsw-tooltip-close {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--color-brand-grayscale-700);
}
