.tsw-appletv-scroll-container {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-100: #fbfbfb;
  --color-brand-grayscale-200: #f5f5f5;
  --color-brand-grayscale-300: #e6e6e6;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-border: var(--color-brand-grayscale-400);
  --color-input-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  --color-overlay: rgba(0, 0, 0, 0.4);

  --appletv-box-color-blue: hsl(200, 88%, 41%);
  --appletv-box-color-red: hsl(0, 62%, 51%);
  --appletv-box-color-green: hsl(122, 82%, 35%);
  --appletv-box-color-orange: hsl(38, 89%, 44%);
  --appletv-box-color-purple: hsl(266, 70%, 52%);
  --appletv-box-color-magenta: var(--color-brand-primary-400);

  font-family: var(--tsw-font-main);

  --appletv-box-width-desktop: 35rem;
  --appletv-box-width-mobile: 20rem;
  --appletv-box-aspect-ratio: 16 / 9;
  --appletv-scroll-gap-desktop: 2rem;
  --appletv-scroll-gap-mobile: 1.4rem;
}

.tsw-appletv-scroll-container.tsw-appletv-theme-light {
  --appletv-text-color: var(--color-brand-grayscale-900);
  --appletv-background-color: var(--color-brand-grayscale-100);
  --appletv-play-button: var(--color-brand-grayscale-700);
}

.tsw-appletv-scroll-container.tsw-appletv-theme-dark {
  --appletv-text-color: var(--color-brand-grayscale-100);
  --appletv-background-color: var(--color-brand-grayscale-900);
  --appletv-play-button: var(--color-brand-grayscale-white);
}

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--color-brand-grayscale-100);
}

/* Reset */

h1,
h2,
h3,
p,
div {
  margin: 0;
  line-height: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.box-color-blue {
  background-color: var(--appletv-box-color-blue);
}
.box-color-red {
  background-color: var(--appletv-box-color-red);
}
.box-color-green {
  background-color: var(--appletv-box-color-green);
}
.box-color-orange {
  background-color: var(--appletv-box-color-orange);
}
.box-color-magenta {
  background-color: var(--appletv-box-color-magenta);
}
.box-color-purple {
  background-color: var(--appletv-box-color-purple);
}

.gradient-overlay {
  background-image: radial-gradient(circle at top center, transparent, rgba(0, 0, 0, 0.35));
}

/* Spacer */

.tsw-spacer {
  height: 15rem;
}

/* Scrolling play button styles  */

.tsw-appletv-buttons {
  text-align: right;
  padding: 1.4rem 2.4rem 0 0;
}

.tsw-appletv-play-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .tsw-appletv-play-button {
    width: 50px;
    height: 50px;
  }
}

.tsw-appletv-play-button svg {
  width: 100%;
  height: 100%;
  fill: var(--appletv-play-button);
  transition: fill 0.3s;
}

/* =-=-=-=-=-=-=-=-=-=-=-= */
/* AppleTV scroller styles */
/* =-=-=-=-=-=-=-=-=-=-=-= */

/* AppleTV container styles */

.tsw-appletv-scroll-container {
  width: 100dvw;
  overflow: hidden;
  margin-inline: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--appletv-text-color);
  background-color: var(--appletv-background-color);
  transition: color 0.3s;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.tsw-appletv-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--appletv-scroll-gap-mobile);
}
@media (min-width: 1000px) {
  .tsw-appletv-scroll {
    gap: var(--appletv-scroll-gap-desktop);
  }
}

.tsw-appletv-scroll-row {
  display: grid;
  grid-auto-flow: column;
  gap: var(--appletv-scroll-gap-mobile);
}
@media (min-width: 1000px) {
  .tsw-appletv-scroll-row {
    gap: var(--appletv-scroll-gap-desktop);
  }
}

.tsw-appletv-scroll-box {
  width: var(--appletv-box-width-mobile);
  aspect-ratio: var(--appletv-box-aspect-ratio);
  position: relative;
  color: var(--color-brand-grayscale-white);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
  background-size: cover;
  border-radius: 1rem;
  will-change: transform; /* Needed for smoother animation */
}
@media (min-width: 1000px) {
  .tsw-appletv-scroll-box {
    width: var(--appletv-box-width-desktop);
    font-size: 1.8rem;
  }
}

/* Settings styles - DELETE WHEN FINISHED */

.tsw-appletv-settings {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.toggle__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__track {
  position: relative;
  width: 4rem;
  height: 2rem;
  background: var(--color-brand-grayscale-500);
  border-radius: 100vw;
  transition: background 0.2s;
}

.toggle__thumb {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  background: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

/* Checked state */
.toggle__input:checked + .toggle__track {
  background: var(--color-brand-primary-400);
}

.toggle__input:checked + .toggle__track .toggle__thumb {
  transform: translateX(1.9rem);
}

/* Focus ring for accessibility */
.toggle__input:focus-visible + .toggle__track {
  outline: 2px solid var(--color-brand-primary-400);
  outline-offset: 2px;
}
