.tsw-quiz {
  --tsw-font-display: "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --quiz-text-color: var(--color-brand-grayscale-600);
  --quiz-highlight-color: var(--color-brand-primary-400);
  --quiz-background-color: var(--color-brand-grayscale-white);

  color: var(--quiz-text-color);
  background-color: var(--quiz-background-color);
}

/* .tsw-quiz.dark-theme {
  --quiz-text-color: var(--color-brand-grayscale-white);
  --quiz-background-color: var(--color-brand-grayscale-900);
} */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* Quiz styles */
