.tsw-quiz {
  --tsw-font-display: "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --quiz-text-color: var(--color-brand-grayscale-600);
  --quiz-highlight-color: var(--color-brand-primary-400);
  --quiz-background-color: var(--color-brand-grayscale-white);

  color: var(--quiz-text-color);
  background-color: var(--quiz-background-color);
}

/* .tsw-quiz.dark-theme {
  --quiz-text-color: var(--color-brand-grayscale-white);
  --quiz-background-color: var(--color-brand-grayscale-900);
} */

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.8rem;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/* Reset */

h1,
h2,
p {
  margin: 0;
  line-height: normal;
}
p {
  margin-bottom: 1rem;
}

a,
a:visited {
  color: var(--quiz-highlight-color);
}

.bold {
  font-weight: 700;
}

/* UI elements */

.magenta-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  /* font-weight: 600; */
  border: 0;
  border-radius: 0.5rem;
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-primary-400);
}

/* =-=-=-=-=-= */
/* Quiz styles */
/* =-=-=-=-=-= */

.tsw-quiz {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 120rem;
  min-height: 60rem;
  padding: 2.4rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .tsw-quiz {
    padding: 4rem;
  }
}

.tsw-quiz h2 {
  color: var(--quiz-highlight-color);
  line-height: 3rem;
  margin-bottom: 1.4rem;
}
.tsw-quiz h3 {
  color: var(--color-brand-grayscale-900);
  line-height: 3rem;
}

/* Quiz main div styles */

.tsw-quiz-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Quiz panel styles */

.tsw-quiz-panel {
  display: none;
  flex-direction: column;
  gap: 3.5rem;
}
.tsw-quiz-panel.active {
  display: flex;
}

/* Quiz panel element styles */

.tsw-quiz-answer {
  display: none;
  flex-direction: column;
  gap: 2rem;
}
.tsw-quiz-answer.active {
  display: flex;
}

.tsw-quiz-text ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 3rem;
}

/* Quiz plan card styles */

.tsw-plan-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  gap: 2rem;
  flex-wrap: wrap;
}
.tsw-plan-card {
  flex: 1;
  border-radius: 1rem;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.tsw-plan-card > div {
  padding: 1.5rem;
}
.tsw-plan-card-headline {
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-grayscale-900);
}

/* Quiz radio button and checkbox styles */

.tsw-quiz-radio-buttons,
.tsw-quiz-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tsw-quiz-radio-buttons label,
.tsw-quiz-checkboxes label {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-brand-grayscale-900);
  border-radius: 5rem;
  height: fit-content;
  line-height: normal;
  cursor: pointer;
  align-self: flex-start; /* This prevents the labels from spanning the full width of the parent */
}
.tsw-quiz-radio-buttons input,
.tsw-quiz-checkboxes input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.tsw-quiz-radio-buttons input:checked + label,
.tsw-quiz-checkboxes input:checked + label {
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-grayscale-900);
  border: 1px solid var(--color-brand-grayscale-900);
}
.tsw-quiz-radio-buttons input:checked + label::before {
  content: "\2713"; /* Unicode checkmark symbol */
  padding-right: 1rem;
}

/* Quiz dropdown styles */

.tsw-quiz-choice-dropdown {
  padding: 1rem;
  border: 1px solid var(--color-brand-grayscale-900);
  border-radius: 0.5rem;
  background: none;
}

/* Quiz stepper button styles */

.tsw-quiz-stepper-buttons {
  display: flex;
  justify-content: space-between;
}
.tsw-quiz-stepper-buttons button:disabled {
  visibility: hidden;
}

/* Quiz svg icon styles */

.tsw-quiz-svg-icons {
  display: none;
}
