/* Variables */

:root {
  box-sizing: border-box;
  --tsw-font-main: "Inter", sans-serif;
  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --countdown-text-color: var(--color-brand-grayscale-900);
  --countdown-background-color: var(--color-brand-grayscale-white);
  --time-unit-text-color: var(--color-brand-grayscale-white);
  --time-unit-background-color: var(--color-brand-grayscale-900);
}

.dark-theme {
  --countdown-text-color: var(--color-brand-grayscale-white);
  --countdown-background-color: var(--color-brand-grayscale-900);
  --time-unit-text-color: var(--color-brand-grayscale-900);
  --time-unit-background-color: var(--color-brand-grayscale-white);
}

/* Reset */

html,
body {
  margin: 0;
  font-family: var(--tsw-font-main);
  font-size: var(--tsw-font-size);
}

body {
  margin: 3rem;
  background-color: var(--countdown-background-color);
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Countdown wrapper */

.tsw-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--countdown-text-color);
}

/* Controls */

.tsw-countdown-controls {
  display: flex;
  gap: 1.4rem;
}

/* Clock */

.tsw-countdown-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tsw-countdown-clock .tsw-time-unit {
  text-align: center;
  padding: 1rem;
  color: var(--time-unit-text-color);
  background-color: var(--time-unit-background-color);
  border-radius: 0.5rem;
  min-width: 4rem;
}

.tsw-countdown-clock .tsw-time-unit .tsw-number {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-brand-primary-400);
}

.tsw-countdown-clock .tsw-time-colon {
  font-size: 2rem;
  font-weight: 600;
}

/* Status */

.tsw-countdown-status {
  text-align: center;
}
.tsw-countdown-status .tsw-countdown-status-alert {
  color: var(--color-brand-primary-400);
}
