/* BSB image styles */

#tsw-bsb-image-img {
  position: relative;
  overflow: hidden;
}

#tsw-bsb-image-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/content/dam/digx/tmobile/us/en/sandbox/NEW-AEM-Organization-Framework-WIP/uncarrier-dark-projects/tell-me-why/Dance-16x9.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: -1; /* Ensures it stays behind any text content */
}

#tsw-bsb-image-img.bg-visible::before {
  opacity: 1;
}

#tsw-bsb-image-img img {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all 0.1s ease;
}
#tsw-bsb-image-img.bg-visible img {
  opacity: 0;
  visibility: hidden;
}
