.tsw-confetti-container {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-500: #a7005a;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-100: #fbfbfb;
  --color-brand-grayscale-200: #f5f5f5;
  --color-brand-grayscale-300: #e6e6e6;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --fn5gl-text-color: var(--color-brand-grayscale-600);
  --fn5gl-highlight-color: var(--color-brand-primary-400);
  --fn5gl-background-color: var(--color-brand-grayscale-white);

  color: var(--fn5gl-text-color);
  background-color: var(--fn5gl-background-color);
}

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/* Reset */

h1,
h2,
p {
  margin: 0;
  line-height: normal;
}

.bold {
  font-weight: 700;
}

.red {
  color: var(--color-trend-red);
}
.green {
  color: var(--color-trend-green);
}

a,
a:visited {
  color: var(--fn5gl-highlight-color);
}

ul {
  list-style-type: none;
}

/* UI elements */

.magenta-button {
  cursor: pointer;
  align-self: flex-start;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  /* font-weight: 600; */
  border: 0;
  border-radius: 0.5rem;
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-primary-400);
}

/* =-=-=-=-=-=-=-= */
/* Confetti styles */
/* =-=-=-=-=-=-=-= */

.tsw-confetti-container {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  background-color: var(--hs-list-background-color);
}

.tsw-confetti-container h3 {
  margin: 0 0 1rem 0;
}

.tsw-confetti-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tsw-confetti-big-button {
  width: 26rem;
  height: 26rem;
  z-index: 1;
  position: relative;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease;
  border: 4px solid #333;
  background: linear-gradient(145deg, var(--color-brand-primary-400), var(--color-brand-primary-500));
  box-shadow:
    6px 6px 7px rgba(0, 0, 0, 0.3),
    inset 2px 2px 5px rgba(255, 255, 255, 0.4),
    inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}
.tsw-confetti-big-button::after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 8%;
  left: 8%;
  right: 8%;
  bottom: 8%;
  border-radius: 50%;
  background: linear-gradient(180deg, var(--color-brand-primary-500) 0%, var(--color-brand-primary-400) 100%);
}
.tsw-confetti-big-button:hover {
  transform: translateY(-2px);
  box-shadow:
    8px 8px 7px rgba(0, 0, 0, 0.3),
    inset 2px 2px 5px rgba(255, 255, 255, 0.5);
}
.tsw-confetti-big-button:active {
  transform: translateY(4px);
  background: linear-gradient(145deg, var(--color-brand-primary-500), var(--color-brand-primary-500));
  box-shadow:
    2px 2px 7px rgba(0, 0, 0, 0.3),
    inset 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.tsw-confetti-big-button:active::after {
  background: var(--color-brand-primary-500);
}

.tsw-confetti-big-button p {
  font-size: 4.4rem;
  font-weight: 700;
  color: var(--color-brand-grayscale-white);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tsw-tmobile-logo {
  width: 12rem;
  height: 12rem;
  display: block;
  fill: var(--color-brand-grayscale-white);
}

.tsw-confetti-svg-icons {
  display: none;
}
