.tsw-fn5gl {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-100: #fbfbfb;
  --color-brand-grayscale-200: #f5f5f5;
  --color-brand-grayscale-300: #e6e6e6;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-trend-red: #cc0000;
  --color-trend-green: #00aa00;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --fn5gl-text-color: var(--color-brand-grayscale-600);
  --fn5gl-highlight-color: var(--color-brand-primary-400);
  --fn5gl-background-color: var(--color-brand-grayscale-white);

  color: var(--fn5gl-text-color);
  background-color: var(--fn5gl-background-color);
}

/* .tsw-fn5gl.dark-theme {
  --fn5gl-text-color: var(--color-brand-grayscale-white);
  --fn5gl-background-color: var(--color-brand-grayscale-900);
} */

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* Reset */

h1,
h2,
p {
  margin: 0;
  line-height: normal;
}

.bold {
  font-weight: 700;
}

.red {
  color: var(--color-trend-red);
}
.green {
  color: var(--color-trend-green);
}

a,
a:visited {
  color: var(--fn5gl-highlight-color);
}

/* UI elements */

.magenta-button {
  cursor: pointer;
  align-self: flex-start;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  /* font-weight: 600; */
  border: 0;
  border-radius: 0.5rem;
  color: var(--color-brand-grayscale-white);
  background-color: var(--color-brand-primary-400);
}

/* =-=-=-=-=-=- */
/* fn5gl styles */
/* =-=-=-=-=-=- */

/* fn5gl container styles */

.tsw-fn5gl {
  padding: 3rem;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: var(--hs-list-background-color);
}

/* fn5gl leaderboard styles */

.tsw-fn5gl-leaderboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  flex: 1;
  width: 100%;
  gap: 4rem;
}

.tsw-fn5gl-region h3 {
  margin-bottom: 1.2rem;
}

.tsw-fn5gl-region-row {
  display: grid;
  grid-template-columns: 1.2rem 3fr 1.5fr 1fr 1fr;
  gap: 2rem;
  padding: 1.2rem 1.4rem;
  border-top: 1px solid var(--color-brand-grayscale-300);
}
.tsw-fn5gl-region-school {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.tsw-fn5gl-region-location {
  font-size: 1.4rem;
}

/* fn5gl brackets styles */

.tsw-fn5gl-brackets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "semifinal1 .    "
    "semifinal1 final"
    "semifinal2 final"
    "semifinal2 .    ";
  gap: 2.2rem;
}
.tsw-fn5gl-brackets-matchup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 20rem;
  padding: 1.2rem;
  border: 1px solid var(--color-brand-grayscale-400);
}

.semifinal1 {
  grid-area: semifinal1;
}
.semifinal2 {
  grid-area: semifinal2;
}
.final {
  grid-area: final;
}

.tsw-fn5gl-brackets-school {
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
}
/* .tsw-fn5gl-brackets-matchup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-brand-grayscale-400);
} */

/* svg styles */

.tsw-fn5gl-svg-icons {
  display: none;
}
