.tsw-countdown-container {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  /* Styles needed to render at full width in NPI component */
  width: 100dvw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.tsw-countdown {
  --countdown-text-color: var(--color-brand-grayscale-900);
  --countdown-background-color: var(--color-brand-grayscale-white);
  --time-unit-number-color: var(--color-brand-primary-400);
  --time-unit-text-color: var(--color-brand-grayscale-white);
  --time-unit-background-color: var(--color-brand-grayscale-900);
  --status-alert-text: var(--color-brand-primary-400);
  --button-text-color: var(--color-brand-grayscale-white);
  --button-background-color: var(--color-brand-primary-400);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  color: var(--countdown-text-color);
  background-color: var(--countdown-background-color);
  background-image: url("/content/dam/digx/tmobile/us/en/sandbox/courtney/11043950_fn5gl-2026/phase-3/hp/FN5GL_BG_texture_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tsw-countdown.dark-theme {
  --countdown-text-color: var(--color-brand-grayscale-white);
  --countdown-background-color: var(--color-brand-grayscale-900);
  --time-unit-number-color: var(--color-brand-primary-400);
  --time-unit-text-color: var(--color-brand-grayscale-900);
  --time-unit-background-color: var(--color-brand-grayscale-white);
  --status-alert-text: var(--color-brand-primary-400);
  --button-text-color: var(--color-brand-grayscale-white);
  --button-background-color: var(--color-brand-primary-400);
}

.tsw-countdown.magenta-theme {
  --countdown-text-color: var(--color-brand-grayscale-white);
  --countdown-background-color: var(--color-brand-primary-400);
  --time-unit-number-color: var(--color-brand-grayscale-900);
  --time-unit-text-color: var(--color-brand-grayscale-900);
  --time-unit-background-color: var(--color-brand-grayscale-white);
  --status-alert-text: var(--color-brand-grayscale-white);
  --button-text-color: var(--color-brand-primary-400);
  --button-background-color: var(--color-brand-grayscale-white);
}

/* Clock */

.tsw-countdown-clock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
@media (min-width: 414px) {
  .tsw-countdown-clock {
    grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
    gap: 0.7rem;
  }
}
@media (min-width: 600px) {
  .tsw-countdown-clock {
    gap: 1rem;
  }
}
.tsw-countdown-clock.hidden {
  display: none;
}

.tsw-countdown-clock .tsw-time-unit {
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.7rem;
  color: var(--time-unit-text-color);
  background-color: var(--time-unit-background-color);
  border-radius: 0.5rem;
}
@media (min-width: 600px) {
  .tsw-countdown-clock .tsw-time-unit {
    font-size: 1.6rem;
    padding: 1rem;
  }
}

.tsw-countdown-clock .tsw-time-unit .tsw-number {
  display: block;
  font-size: 2.7rem;
  line-height: 3rem;
  font-weight: 700;
  color: var(--time-unit-number-color);
}
@media (min-width: 600px) {
  .tsw-countdown-clock .tsw-time-unit .tsw-number {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.tsw-countdown-clock .tsw-time-colon {
  font-size: 3rem;
  font-weight: 800;
  display: none;
}
@media (min-width: 414px) {
  .tsw-countdown-clock .tsw-time-colon {
    display: inline;
  }
}

/* Status */

.tsw-countdown-status {
  display: none;
  text-align: center;
}
.tsw-countdown-status .tsw-countdown-status-alert {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--status-alert-text);
}
