/* Variables */

.tsw-container {
  --tsw-font-display:
    "TeleNeo Web", var(--phx--text-family-brand), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tsw-font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --tsw-font-size: 16px;
  --color-brand-primary-100: #ffcee7;
  --color-brand-primary-200: #ff52a3;
  --color-brand-primary-300: #f6288f;
  --color-brand-primary-400: #e20074;
  --color-brand-primary-500: #a7005a;
  --color-brand-primary-600: #770141;
  --color-brand-grayscale-100: #fbfbfb;
  --color-brand-grayscale-200: #f5f5f5;
  --color-brand-grayscale-300: #e6e6e6;
  --color-brand-grayscale-400: #ccc;
  --color-brand-grayscale-500: #8c8c8c;
  --color-brand-grayscale-600: #6a6a6a;
  --color-brand-grayscale-700: #414141;
  --color-brand-grayscale-900: #1c1c1c;
  --color-brand-grayscale-white: #fff;

  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-input-shadow: 0px 0px 5px 0px rgba(226, 0, 116, 0.5);

  font-family: var(--tsw-font-main);

  --tsw-confetti-text-color: var(--color-brand-grayscale-600);
  --tsw-confetti-link-color: var(--color-brand-primary-400);
  --tsw-confetti-button-color: var(--color-brand-primary-400);
  --tsw-confetti-button-text-color: var(--color-brand-grayscale-white);
  --tsw-confetti-background-color: var(--color-brand-grayscale-white);
}

.tsw-confetti-container.magenta-theme {
  --tsw-confetti-text-color: var(--color-brand-grayscale-white);
  --tsw-confetti-link-color: var(--color-brand-grayscale-white);
  --tsw-confetti-button-color: var(--color-brand-grayscale-white);
  --tsw-confetti-button-text-color: var(--color-brand-primary-400);
  --tsw-confetti-background-color: var(--color-brand-primary-400);
}

/* Reset - local only (don't use in AEM) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

/* Reset */

h1,
h2,
p {
  margin: 0;
  line-height: normal;
}

h1 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}

.bold {
  font-weight: 700;
}

.red {
  color: var(--color-trend-red);
}
.green {
  color: var(--color-trend-green);
}

a,
a:visited {
  color: var(--tsw-confetti-link-color);
}

ul {
  list-style-type: none;
}

/* UI elements */

.magenta-button {
  cursor: pointer;
  align-self: flex-start;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  /* font-weight: 600; */
  border: 0;
  border-radius: 0.5rem;
  color: var(--tsw-confetti-button-text-color);
  background-color: var(--tsw-confetti-button-color);
}

/* =-=-=-=-=-=-=-= */
/* Confetti styles */
/* =-=-=-=-=-=-=-= */

.tsw-container {
  padding: 2.5rem 1.5rem;
  max-width: 100rem;
  min-height: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  color: var(--tsw-confetti-text-color);
  background-color: var(--tsw-confetti-background-color);
  position: relative;
}
@media (min-width: 768px) {
  .tsw-container {
    padding: 3rem;
  }
}

.tsw-map-usa-container,
.tsw-map-usa-container svg {
  width: 100%;
  height: auto;
}
.tsw-map-usa-container svg path,
.tsw-map-usa-container svg rect {
  cursor: pointer;
  fill: var(--color-brand-grayscale-500);
  transition: 0.25s;
}
.tsw-map-usa-container svg path.level-1,
.tsw-map-usa-container svg rect.level-1 {
  fill: var(--color-brand-primary-100);
}
.tsw-map-usa-container svg path.level-2,
.tsw-map-usa-container svg rect.level-2 {
  fill: var(--color-brand-primary-200);
}
.tsw-map-usa-container svg path.level-3,
.tsw-map-usa-container svg rect.level-3 {
  fill: var(--color-brand-primary-300);
}
.tsw-map-usa-container svg path.level-4,
.tsw-map-usa-container svg rect.level-4 {
  fill: var(--color-brand-primary-400);
}
.tsw-map-usa-container svg path.level-5,
.tsw-map-usa-container svg rect.level-5 {
  fill: var(--color-brand-primary-500);
}
.tsw-map-usa-container svg path.level-6,
.tsw-map-usa-container svg rect.level-6 {
  fill: var(--color-brand-primary-600);
}
.tsw-map-usa-container svg path.hover,
.tsw-map-usa-container svg rect.hover {
  fill: var(--color-brand-grayscale-900);
}
/* .tsw-map-usa-container svg text.hover {
  fill: var(--color-brand-primary-600);
} */

/* .tsw-confetti-map-usa-container h3 {
  margin: 0 0 1rem 0;
} */

.tsw-map-usa-container svg text {
  pointer-events: none;
  user-select: none;
  fill: var(--color-brand-grayscale-white);
}

/* =-=-=-=-=-=-=-=-= */
/* Modal and overlay */
/* =-=-=-=-=-=-=-=-= */

.tsw-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 50rem;
  padding: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  background-color: var(--color-brand-grayscale-white);
  z-index: 1001;
}

.tsw-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-overlay);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    visibility 0s linear 0.5s;
}
.tsw-modal-overlay.is-visible {
  visibility: visible;
  opacity: 1;
  /* On entry, visibility should switch instantly (no delay) */
  transition-delay: 0s;
}

.tsw-modal-close {
  position: absolute;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--color-brand-primary-400);
  color: var(--color-brand-grayscale-white);
  z-index: 1001;
  top: -2rem;
  right: -2rem;
  border: 5px solid var(--color-brand-grayscale-white);
  border-radius: 50%;
  transition: 0.25s;
  cursor: pointer;
}
.tsw-modal-close:hover,
.tsw-modal-close:focus {
  outline: none;
  border: 1px solid var(--color-brand-primary-400);
  box-shadow: var(--color-input-shadow);
}

.tsw-modal-close svg {
  height: 100%;
  width: 100%;
}
.tsw-modal-close svg path {
  cursor: pointer;
  fill: var(--color-brand-grayscale-white);
}

.tsw-modal-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* @property --grad-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --color-one {
  syntax: "<color>";
  initial-value: #ff0055;
  inherits: false;
}

.gradient-box {
  background: linear-gradient(var(--grad-angle), var(--color-one), #0000ff);

  transition:
    --grad-angle 0.6s ease,
    --color-one 0.6s ease;

  width: 300px;
  height: 200px;
  border-radius: 12px;
}

.gradient-box:hover {
  --grad-angle: 180deg;
  --color-one: #00ffcc;
} */

.tsw-tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0.5rem;
  border: 1px solid var(--color-brand-grayscale-700);
  border-radius: 0.5rem;
  background-color: var(--color-brand-grayscale-white);
  transition: opacity 0.4s;
  pointer-events: none;
  user-select: none;
}
.tsw-tooltip.active {
  opacity: 1;
  visibility: visible;
}
